body{ 
    margin:0; 
}
.box-rebours{ 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}
.box_jour, .box_heure, .box_minute, .box_seconde, p { 
    padding: 10px; 
}
#jour, #heure, #minute, #seconde { 

   
    padding: 10px 20px; 
    color: white; 
    font-size: 15rem; 
    font-weight: bold; 
    box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35);
    background: rgba(0,0,0,0.2);
    border-radius: 15px;
}
#jour_label, #heure_label, #minute_label, #seconde_label, p { 
    font-size: 1.5rem; 
}
p{
    font-size: 15rem;
    color: white;
}
#jour_label, #heure_label, #minute_label{
    color: white;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
 
}